/*
* @Author: Mr.Miao
* @Date:   2018-11-18 11:36:41
* @Last Modified by:   Mr.Miao
* @Last Modified time: 2018-11-18 20:16:10
*/
* {
    margin: 0;
    padding: 0;
}

.box {
    width: calc(100% - 80px);
    padding: 10px 40px;
    overflow: hidden;
}

.box .span {
    display: inline-block;
    width: 100px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    float: left;
}

.box .txt {
    outline: none;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    width: calc(100% - 100px);
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#submit {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    float: right;
}

#content {
    resize: none;
    height: 300px;
}

.box:nth-of-type(2) .span {
    height: 300px;
    line-height: 300px;
}

#ivs_player {
    width: calc(100% - 80px);
    padding: 10px 40px;
    overflow: hidden;
}